/*========== Netbook ==========*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .package-slider-wrap {
        margin-top: 15px;
    }
    .destinations-left .owl-nav button.owl-prev {
        left: -30%;
    }
    .destinations-left .owl-nav button.owl-next {
        left: -18%;
    }
    .destinations-right .owl-nav button.owl-prev {
        right: -18%;
    }
    .destinations-right .owl-nav button.owl-next {
        right: -27%;
    }
    .package-slider-wrap img {
        height: 400px;
    }
    .package-popular,
    .p-sidebar-cards {
        padding: 25px 10px;
    }
    .blog-img .blog-date, .blog-img-xl .blog-date {
        width: 200px;
        justify-content: center;
    }
}

/*========== Tablet ==========*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header-area {
        padding: 20px 0;
    }
    .topbar-contact-left ul {
        justify-content: space-evenly;
    }
    .topbar-contact-right {
        display: none;
    }
    .navbar-brand img {
        width: 25%;
    }
    .topbar-contact-left ul li,
    .topbar-contact-right ul li {
        margin-right: 0;
    }
    .mobile-menu {
        display: block;
        padding: 12px 0;
    }
    .slider-item {
        min-height: 450px;
    }
    .main-nav {
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        z-index: 999;
        background: #fff;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 55px 30px;
        overflow: auto;
    }
    .main-nav.active {
        left: 0;
    }
    .main-nav ul {
        width: 100%;
        position: relative !important;
    }
    .main-nav ul li {
        display: block;
    }
    .main-nav ul li a {
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
    }
    .menu-close-btn{
        display: block;
    }
    .menu-close-btn {
        display: block;
        position: absolute;
        padding: 5px 10px;
        right: 20px;
        top: 15px;
        font-size: 25px;
    }
    .mobile-logout{
        display: block !important;
    }
    .mobile-bottom-menu{
        display: block;
    }
    .main-nav .navbar-icons {
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        background: #36e;
        left: 0px;
        right: 0;
        margin-left: 0 !important;
    }
    .mobile-bottom-menu a {
        padding: 15px;
        display: block;
    }
    .navbar-icons svg {
        color: #fff;
        font-size: 25px;
    }
    .header-area .account-dropdown {
        top: auto;
        bottom: 44px;
    }
    .account-el svg{
        color: #36e;
    }
    .account-el a {
        border-bottom: none !important;
    }
    .main-searchbar {
        padding: 0 10%;
    }
    .searchbar-close {
        top: 10px;
        right: 30px;
    }
    .click-to-top {
        bottom: 70px;
    }
    .footer-bottom {
        padding-bottom: 70px;
    }

    .main-nav .navbar-icons .searchbar-open {
        margin-right: 0;
    }
    .slider-content h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .slider-content h5 {
        margin: 20px 0;
        color: #fff;
    }
    .destinations-left .owl-nav button.owl-prev {
        top: -35%;
        left: 40%;
    }
    .destinations-left .owl-nav button.owl-next {
        top: -35%;
        right: 40%;
        left: auto;
    }
    .destinations-right .owl-nav button.owl-prev {
        top: auto;
        right: 55%;
        bottom: -80%;
    }
    .destinations-right .owl-nav button.owl-next {
        top: auto;
        right: 40%;
        bottom: -80%;
    }
    .breadcrumb-wrap {
        padding: 80px 0;
    }
    .contact-us-form {
        margin-top: 60px;
    }
    .blog-popular {
        padding: 30px 10px;
    }
    .footer-links {
        margin-top: 30px;
    }
    .error p {
        font-size: 90px;
    }

    .commentor {
        align-items: flex-start;
        flex-direction: column;
    }
    .commentotor-img {
        width: 100%;
    }
}

/*========== Mobile ==========*/
@media only screen and (min-width: 360px) and (max-width: 767px){
    .header-area {
        padding: 20px 0;
    }
    .topbar-contact-left ul {
        justify-content: center;
        flex-direction: column;
    }
    .topbar-contact-right {
        display: none;
    }
    .navbar-brand img {
        width: 50%;
    }
    .mobile-menu {
        display: block;
        padding: 12px 0;
    }
    .topbar-contact-left ul li,
    .topbar-contact-right ul li {
        margin-right: 0;
    }
    .slider-item {
        min-height: 350px;
    }
    .main-nav {
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        z-index: 999;
        background: #fff;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px;
        overflow: auto;
    }
    .main-nav.active {
        left: 0;
        padding: 55px 15px;
    }
    .main-nav ul {
        width: 100%;
        position: relative !important;
    }
    .main-nav ul li {
        display: block;
    }
    .main-nav ul li a {
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
    }
    .slider-content {
        margin-left: auto;
        margin: 0 15px;
    }
    .banner-btn{
        text-align: center;
    }
    .banner-slider .owl-nav button.owl-prev {
        top: auto;
        bottom: -10px;
        left: 25%;
    }
    .banner-slider .owl-nav button.owl-next {
        top: auto;
        bottom: -10px;
        right: 25%;
    }
    .menu-close-btn{
        display: block;
    }
    .menu-close-btn {
        display: block;
        position: absolute;
        padding: 5px 10px;
        right: 15px;
        top: 10px;
        font-size: 25px;
    }
    
    .mobile-logout{
        display: block !important;
    }
    .mobile-bottom-menu{
        display: block;
    }
    .main-nav .navbar-icons {
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        background: #36e;
        left: 0px;
        right: 0;
        margin-left: 0 !important;
    }
    .mobile-bottom-menu a {
        padding: 15px;
        display: block;
    }
    .navbar-icons svg {
        color: #fff;
        font-size: 25px;
    }
    .header-area .account-dropdown {
        top: auto;
        bottom: 44px;
    }
    .account-el svg{
        color: #36e;
    }
    .account-el a {
        border-bottom: none !important;
    }
    .main-searchbar {
        padding: 0 10%;
    }
    .searchbar-close {
        top: 10px;
        right: 30px;
    }
    .main-nav .navbar-icons .searchbar-open {
        margin-right: 0;
    }
    .click-to-top {
        bottom: 70px;
        right: 15px;
    }
    .footer-bottom {
        padding-bottom: 70px;
    }
    .section-head h2 {
        font-size: 28px;
        line-height: unset;
    }
    .slider-content h2 {
        font-size: 25px;
        line-height: unset;
        max-width: 90%;
    }
    .slider-content h5 {
        margin: 20px 0;
        color: #fff;
        font-size: 15px;
        line-height: 0;
        margin-bottom: 30px;
    }
    .destinations-left .owl-nav button.owl-prev {
        top: -35%;
        left: 30%;
    }
    .destinations-left .owl-nav button.owl-next {
        top: -35%;
        right: 35%;
        left: auto;
    }
    .destinations-right .owl-nav button.owl-prev {
        top: auto;
        right: 55%;
        bottom: -80%;
    }
    .destinations-right .owl-nav button.owl-next {
        top: auto;
        right: 35%;
        bottom: -80%;
    }
    .blog-img .blog-date, .blog-img-xl .blog-date {
        width: 200px;
        justify-content: center;
    }
    .breadcrumb-wrap {
        padding: 60px 0;
    }
    .breadcrumb-wrap h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .about-member ul {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
    .contact-us-form {
        margin-top: 60px;
    }
    .strong.my-5.title.faq {
        font-size: 24px;
    }
    
    .blog-popular {
        padding: 30px 10px;
    }
    .footer-links {
        margin-top: 30px;
    }
    .error p {
        font-size: 50px;
        line-height: 50px;
    }
    .error img {
        padding: 10px 0;
        height: 150px;
        margin-top: 30px;
    }
    .commentor {
        align-items: flex-start;
        flex-direction: column;
    }
    .commentotor-img {
        width: 100%;
    }
    .blog-reply {
        padding: 20px;
    }
    .package-details .owl-carousel .owl-item img {
        height: 200px;
    }
    .package-header{
        flex-direction: column;
    }
    .p-short-info {
        flex-direction: column;
        align-items: center;
        grid-gap: 25px;
    }
    .p-review-info {
        flex-direction: column;
        align-items: center;
    }
    .p-review-input {
        padding: 25px 15px;
    }
}
